@media (min-width: 320px) {

 .each-slide-effect  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
   
  .image{
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin: auto;
  }
}


  

 







 
 


 
